<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="gmail" parallel="none">
  <test name="login">
    <classes>
      <class name="com.codebind.TestExample"/>
    </classes>
  </test>
  
  <test name="login2">
    <classes>
      <class name="com.codebind.SampleTest3"/>
    </classes>
  </test>
  
   <!-- login -->
</suite> <!-- gmail -->
